/* @tailwind base;
@tailwind components;
@tailwind utilities; */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #111;
}

.parent{
    padding: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 300px;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border-color: #766b6b;
}
.card img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}
.card p{
    margin: 20px 0;
}
.card button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}